p {
    text-align: center;
}
.centered {
    text-align: center;
    font-size: 45px;
}
.container {
    max-height: 100vh;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
body {
    justify-content: center
    text-align: center;
}