.varela-round-regular {
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
  }


/* Position the hamburger menu in the top-right corner */
.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 20px;  /* Adjust as needed */
    right: 20px;  /* Adjust as needed */
    z-index: 4;
}

/* Style each line of the hamburger */
.hamburger-menu .line {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 1px solid white;
    /*box-shadow: 0 6px 20px 0 white;*/
}

/* Position each line */
.hamburger-menu .line:nth-child(1) {
    top: 0;
}

.hamburger-menu .line:nth-child(2) {
    top: 20px;
}

.hamburger-menu .line:nth-child(3) {
    bottom: 0;
}
/* Animation for the hamburger icon turning into an "X" */

.hamburger-menu.open .line {
    border: none;
    background-color: white;
}
.hamburger-menu.open .line:nth-child(1) {
    transform: rotate(45deg);
    top: 20px;
}

.hamburger-menu.open .line:nth-child(2) {
    opacity: 0;  /* Hide the middle line */
}

.hamburger-menu.open .line:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 20px;
}
/* Styles for the popup */
.popup {
    position: fixed;
    top: -100px; /* Start off-screen above */
    right: -150px; /* Center horizontally */
    transform: translateX(-50%); /* Keep the centering */
    background-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    z-index: 3;
    box-shadow: inset;
    border-radius: 5px;
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially invisible */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transition for smooth slide and fade */
}

.popup.open {
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fully visible */
    top: 0px; /* Move to the center vertically */
    transform: translateX(-50%) translateY(0%); /* Slide it down and center it */
}
@media screen and (max-width: 600px) {
    .popup.open{
        width: 100%;
        right: -50vw;

    }
    .popup-content{
    background-color: rgba(0, 0, 0, 0.6) !important;

    }
}
.popup-content {
    background-color: black;

    padding: 30px;
    border-radius: 5px;
    position: relative;
    height: 100%;
}

.popup-content a {
    font-size: 40px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}

.popup-content a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease-out;
}

.popup-content a:hover::after {
    width: 100%;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.logo {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 20px; 
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}
