.interface {
    background-color: #313131;
    max-width: 400px;
    align-self: center;
    padding: 20px;
    border: 2px solid #111;
    color: white !important;
    border-radius: 5px;
    margin: auto
}
.interface button {
    border: 2px solid #111;
    border-radius: 5px;
    background-color: #212121;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.interface button:hover {
    background-color: white;
    color: black;
}

#card-element {
    padding: 10px;
    border: 2px solid #111;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: white;
}
body {
    text-align: center;
}

.InputElement {
    border: 3px solid #111;
}