<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ID: {{ order.id }}</h1>
    <h3>User ID. {{ order.user_id }}</h3>
    <p>Products: {{ order.products }}</p>
    <p>Price: {{ order.total_price }}</p>
    <p>Status: {{ order.status }}</p>
    <p>Address: {{ order.address }}</p>
    <p>Contact: {{ order.email }}</p>
    <p>Creation: {{ order.date }}</p>
</body>
</html>