<a href="https://www.flaticon.com/free-icons/portfolio" title="portfolio icons">Portfolio icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/validating-ticket" title="validating ticket icons">Validating ticket icons created by Pixel perfect - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/house" title="house icons">House icons created by vectorsmarket15 - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/search" title="search icons">Search icons created by Royyan Wijaya - Flaticon</a>

Photo by Aleksandar Pasaric: https://www.pexels.com/photo/architectural-photography-of-city-buildings-2341282/
Photo by Javon Swaby: https://www.pexels.com/photo/cars-and-motorcycle-on-the-street-2814202/
Photo by Ave Calvar Martinez: https://www.pexels.com/photo/pedestrians-crossing-on-a-traffic-road-3010261/